<!DOCTYPE html>
<html>
<head>
	<title>level one</title>
	<link rel="stylesheet" type="text/css" href="./styles.css">
	<link rel="stylesheet" type="text/css" href="./intro.css">
	<script type="text/javascript" src="./dependencies/angular.js"></script>
	<script type="text/javascript" src="./dependencies/lodash.js"></script>
	<script type="text/javascript" src="./engine/proofEngine.js"></script>
	<script type="text/javascript" src="./engine/setEngine.js"></script>
	<script type="text/javascript" src="./engine/operations.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="homepage">
<div class="intro">
	<div class="thing introElements">
		<p>Thing</p>	
	</div>
	<p>Things go in Boxes,</p>
	<div class="box introElements">
		<p>Box</p>
	</div>
	<p>Boxes can have many Things</p>
</div>
<div id="wrapper" ng-controller="lvl1Controller as lvl1" class="game">
	<h1 id='goal'>Prove x is in (BnC)nA</h1>
	<div id="tree" ondragover='dragoverTree(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.newFact(event)"><h1 id='treeText'>Fact Tree</h1>
		<li ng-repeat='fact in lvl1.facts' id="fact{{fact.groupIndex}}" class='fact' draggable='true' index='{{$index}}' ondragstart='dragFact(event)'>{{fact.str}}<br>
		</li>
	</div>
	<div id="tableWrap">
			
		<div id="pockets">
		<div id="pocketSelector">
			<button ng-click="lvl1.modeChange('intersect')">intersection</button>
			<button ng-click="lvl1.modeChange('customSet')">custom set</button>
			<button ng-click="lvl1.modeChange('assert')">facts</button>
		</div>
			<div id="setPocket" ng-show="lvl1.tabMode === 'customSet'" >
				<p>Create a custom set by typing a name into the text box, <br>
					Dragging Elements into the new set, and dragging the new set</br>
					Into the group of sets in the upper right
				</p>
				<div class="boxPocket Pocket" draggable='true' ondragstart='dragSetForm(event)' ondragover='dragoverSetForm(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.elementDrop(event)">
	        		<div class="droppedElemWrap">
	        			<div class='droppedElement' ng-repeat="el in lvl1.elementsGoingIn">{{el.name}}</div>
	        		</div>
					<form id='setForm'>
	            		<input type='text' ng-model='lvl1.setName'></input>
	        		</form>
				</div>

			</div>
			<div id="intersectionPocket" ng-show="lvl1.tabMode === 'intersect'">
				<div id="intersection">
					<p>Create a new set which is the intersection of two other sets<br>
						by dragging two sets into the slots, then dragging the slots, themselves <br>
						into the set area in the upper right
					</p>
					<div id='intersectionText'></div>
					<div id='intersectionOperator' draggable ="true" ondragstart='dragIntersection(event)'>
						<div id='left' class='iset leftUnclicked' ondragover='dragoverISet(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.intersectionDrop1(event)" onclick="clickedClass(this, 'red')">
							<div ondragover='dragoverISet(event)'ng-show='lvl1.intersection1' id="{{lvl1.intersection1.equivalents[0]}}">{{lvl1.intersection1.equivalents[0]}}</div>
						</div>
						<div id="nMid">n</div>
						<div id='right' class='iset rightUnclicked' ondragover='dragoverISet(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.intersectionDrop2(event)" onclick="clickedClass(this, 'red')">
							<div ondragover='dragoverISet(event)'ng-show='lvl1.intersection2' id="{{lvl1.intersection2.equivalents[0]}}">{{lvl1.intersection2.equivalents[0]}}</div>
						</div>
					</div>
				</div>
			</div>
			<div  ng-show="lvl1.tabMode==='assert'">
				<p id='factText'>Assert that a given element is in a given set (a new fact), for a given group of reasons,<br>
					By dragging a set and element into this triangle, then dragging your justifying facts<br>
					From the tree on the left into the triangle, then dragging the new triangle into the tree
				</p>
				<div id="factPocket" draggable='true' ondragstart='dragFactPocket(event)' ondragover='dragoverSetFact(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.dropSetFact(event)">
					<!-- <div id="dropZone" ondragover='dragoverElementFact(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.dropElementFactOut(event)"> drop Zone
						<div id='factE' ng-hide='lvl1.factIsIn'>{{lvl1.factElement.name}}</div>
					</div> -->
					<div id="square" class="setinFact " ondragover='dragoverElementFact(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.dropElementFactIn(event)">
						<div id="factS" ng-show='lvl1.factSet'>{{lvl1.factSet.equivalents[0]}}</div>
					
						<div id="element" class = "element elementinFact">
							<div id='factE' ng-show='lvl1.factIsIn'>{{lvl1.factElement.name}}</div>
						</div>
					 </div>
					 <div id="fact{{fact.groupIndex}}" ng-repeat='fact in lvl1.justifications' class='fact'>{{fact.str}}</div>
				</div>
			</div>
		</div>
	<!-- 	<div id="operations" class="" onclick="clickedClass(this, 'operations')">Operations
			<div id='union' draggable='true' ondragstart='dragUnion(event)'>
			        <div id='unionText'>Union Operator</div>
			        <div id= "left" class='uSet leftUnClicked'  ondragover='dragoverUSet(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.unionDrop1(event)" onclick="clickedClass(this, 'red')"> 
			          <div ng-show='lvl1.union1' id="{{lvl1.union1.equivalents[0]}}">{{lvl1.union1.equivalents[0]}}</div>
			        </div>
			        <div id='uMid'>U</div>
			        <div id="right" class='uSet rightUnClicked' ondragover='dragoverUSet(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.unionDrop2(event)" onclick="clickedClass(this, 'blue')">
			        <div ng-show='lvl1.union2' id="{{lvl1.union2.equivalents[0]}}">{{lvl1.union2.equivalents[0]}}</div>
			    </div>
			</div>
			<div id="intersection" draggable ="true" ondragstart='dragIntersection(event)'>
					<div id='intersectionText'>Intersection Operator</div>
					<div id='left' class='iset leftUnclicked' ondragover='dragoverISet(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.intersectionDrop1(event)" onclick="clickedClass(this, 'red')">
						<div ng-show='lvl1.intersection1' id="{{lvl1.intersection1.equivalents[0]}}">{{lvl1.intersection1.equivalents[0]}}</div>
					</div>
					<div id="nMid">n</div>
					<div id='right' class='iset leftUnclicked' ondragover='dragoverISet(event)' ondrop="angular.element(getElementById('wrapper')).scope().lvl1.intersectionDrop2(event)" onclick="clickedClass(this, 'red')">
						<div ng-show='lvl1.intersection2' id="{{lvl1.intersection2.equivalents[0]}}">{{lvl1.intersection2.equivalents[0]}}</div>
					</div>
			</div>
		</div> -->
	</div>

	<!-- <div id="facts">Facts</div> -->
	<div id="sets" ondragover="dragoverTable(event)" ondrop="angular.element(getElementById('wrapper')).scope().lvl1.drop(event)">
		<h1>Sets</h1>
		<h2>(These have elements in them)</h2>
		<table>
		<tr><div id='set.equivalents[0]' class="set" draggable='true' index='{{$index}}' ondragstart="dragSet(event)" ng-repeat="set in lvl1.sets track by $index">{{set.equivalents[0]}}</div> </tr>
	<div id="elements">
		<h1>Elements</h1>
		<h2>(These go in sets)</h2>
		<div class="element" ng-repeat='element in lvl1.elements' index="{{$index}}" draggable='true' ondragstart="dragElement(event)">{{element.name}}</div>
	</div>
	</div>
	<div id="setDetails" ondragover="dragoverSetDetails(event)" ondrop="angular.element(getElementById('wrapper')).scope().lvl1.dropSetDetails()">Set Details for {{lvl1.selectedSet.equivalents[0]}}:
		<p>Elements known in {{lvl1.selectedSet.equivalents[0]}}</p>
		<div id='detailElementWrapper'>
			<div ng-repeat="el in lvl1.selectedSet.knownElements track by $index" class="element detailsElement">{{el.name}}</div>
		</div>
		<p id="detailsExplanation">Drag a set here to see what you've proven is in it (there could be missing elements)</p>
	</div>
</div>
</body>
</html>