/**{ 
border: dotted 2px green;}*/
body{

	height:880px;
}
#wrapper {

	height: 100%;
	width:100%;
	border: solid 1px red;
}
#wrapper div {
 
	/*border: dashed 1px blue;*/
	margin: 1px;
	display: inline-block;
}
/*#wrapper div:hover{
	background-color:#5BC7EB;
	opacity: .15;
	z-index:1;
}
*/
#tree{

	position:absolute;
	top : 	120px;
	height:75%;
	width:25%;
	border: 2px dashed blue;
}
/*#tree:hover{
	position:absolute;
	width:30%;
}*/

#tableWrap{
	border: 4px dashed green;
	background-color: #FFFEEE;
	border-radius: 10px;
	display: inline-block;
	position:absolute;
	top:20%;
	left:25%;
	width:55%;
	height:75%;
}
/*#tableWrap:hover{
	height:78%;
	width:68%;
	background-color:#FC9C7C;
	opacity:1;
}*/


#table{
	display:inline-block;
	position:absolute;
	height:85%;
	width:95%;
	z-index: 2;
}

#setForm {
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 60%;
	right: 5%;
}
/*#table:hover{
	width:98%;
	height:87%;
	background-color: #E4F5DF;
	opacity:.6;
}*/
#operations{
	border: 2px dotted #eeeaaa;
	position:absolute;
	display:block;
	bottom:-1px;
	width:95%;
	height:10%;
}
/*#operations:hover {

	height:24%;
	background-color: #F1C5FA;
	opacity:.6;
}
*/
.operationsClicked{
	height:24%;
	background-color: #F1C5FA;
	opacity:.6;
}



#facts{
	position:absolute;
	right:-1px;
	bottom:-1px;
	height:40%;
	width:45%;
	z-index:1;
}

#sets{
	padding-left: 10em ;
	border-radius: 40px;
	background-color: #EEEFFF;
	border: 2px solid black;
	position:absolute;
	display: inline-block;
	top:-8px;
	left:59%;
	height:40%;
	width:45%;
	z-index:2;	
}

.set{
position:relative;
display: block;

	top:120px;
	left:0%;
	height:42px;
	width:44px;
	z-index:2;	
	background-image: url("./assets/squareSmall.jpg");
	padding-left: .5%;
	padding-top: .25%;
}
#elements{
	position:relative;
	display: block;
	top:250px;
	width:100%;
	height:20%;
}
.leftClicked{
	background-color: yellow;
	height:60px;
	width:100px;
}
.rightClicked{
	background-color: yellow;
	height:60px;
	width:100px;
}

.hidden{
	visibility: hidden;
}

.element {
	position: relative;
	display: inline-block;
	background-color: red;
	width:5%;
	height:55%;
	padding-left: 2%;
	padding-top: 1%;
	border-radius: 50%;
}

.detailsElement {
	width: 200%;
	text-align: center;
}
.droppedElemWrap{
	position:relative;
	width:98%;
	height:40%;
	display:block;
}
.droppedElement{
	position: relative;
	display: inline-block;
	background-color: red;
	border-radius: 50%;
	height:35%;
	width:15%;
	padding-top:20%;
	padding-left:15%;

}

#setPocket{
	position:absolute;
	height:25em;
	width:45em;
	top:88px;
	left:80px;
}


.boxPocket{
	display:inline-block;
	position: relative;
	width:58%;
	height: 80%;
	top:80px;
	background-color: blue;
	z-index: 3;

}

#setForm input{
	display:block;
	position:relative;
	margin-left: 40px;
	width:100px;
}

#intersectionPocket{
	position:relative;
	display:inline-block;
	top:90px;
	height:30em;
	width:50em;
	background-color: #FFDEF0;
}
#intersectionPocket div{
	display:inline-block;
	position:relative;
	/*border-style: solid;*/
}
.leftUnclicked{
	border: 2px solid blue;
	height:200px;
	width:200px; 
}

.rightUnclicked{
	border: 2px solid blue;
	height:200px;
	width:200px; 
}

#nMid{
	top:100px;
	display:inline-block;
	font-size: 5em;
}

#setDetails {
	position: relative;
	display: inline-block;
	top: 300px;
	border: 2px dashed purple;
	height:65%;
	width:70%;	
}

#treeText {
	display: block;
	position: relative;
	text-align: center;
	right: 10%;
}

#factPocket{
	border: 2px solid #EEEEEE;
	position: relative;
	background-image: url("./assets/triangle.jpg");
	height: 573px;
	width:680px;
	left:130px;
	top: 90px;
	/*bottom:280px;*/
/*	bottom:450px;
	visibility: 	hidden;	
	width: 0; 
	height: 0; 
	border-top: 380px solid #aeffde ;
	border-bottom: 380px solid transparent;	
	border-left: 380px solid transparent;
	-webkit-transform: rotate(90deg);
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);*/	
}

/*Triangles*/


.setinFact{
	position:relative;
	background-image: url("./assets/square.jpg");
	top: 57%;
	left:38%;
	z-index: 1;
	height:164px;
	width:160px;
	padding-left:-2px;

}
#factS{

	display:block;
	z-index:2;
	font-size: 2.5em;
}
.elementinFact{
	
	position:absolute;
	width:80%;
	height:80%;
	left:11px;
	top:15px;
}
#factE{
	position:relative;

	left:40%;
	top:30%;
	font-size: 2.5em;
}

#pocketSelector {
	position: fixed;
	display: block;
	z-index: 5;
}

/*#dropZone{
	width:100px;
	height:150px;
	border: 4px solid black;
	display:inline-block;
	position: relative;
		bottom:420px;
		right:180px;
	float:right;
}
*/

.fact {
	position: relative;
	display: inline-block;
	background-image: url("assets/triangleSmall.jpg"); 
	height: 90px;
	width: 113px;

}

.v0{
	position:absolute;
	/*width:100%;*/
	display: block;
	top:120px;
	left:280px;
}

.v1{
	position:absolute;
	display: block;
	top:385px;
	left: 130px;

}

.v2{
	position:absolute;
	display: block;
	top:385px;
	left:440px;
	z-index: 3

}
